<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Test.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value>pruebas</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>069f57dae98079b842a956e41d081e76487591a2ad65fa7a450717c1ab19767f</value>
            </setting>
        </Test.Properties.Settings>
    </applicationSettings>
</configuration>